html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 16px;
    font-family: 'Spartan', sans-serif;
    margin: 0;
}

.banner {
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}

h1 {
    font-family: 'Licorice', cursive;
    font-weight: 100;
    font-size: 20rem;
}

.navMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    background-color: #C9B8C8;
} 

.link {
    text-decoration: none;
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    color: black;
    padding: 3rem;
}

a:hover {
    text-decoration: underline;
    color: #704C52;
}