html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 16px;
    font-family: 'Spartan', sans-serif;
    margin: 0;
}

.banner {
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}

h1 {
    font-family: 'Licorice', cursive;
    font-weight: 100;
    font-size: 20rem;
}

.navMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    background-color: #C9B8C8;
} 

.link {
    text-decoration: none;
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    color: black;
    padding: 3rem;
}

a:hover {
    text-decoration: underline;
    color: #704C52;
}

h2 {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

section p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 3.5rem;
}

figure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5rem;
    margin-left: 15rem;
    margin-right: 15rem;
    
}

figure div {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;

}

div img {
    padding-bottom: 5rem;
}

.smaller {
    object-fit: contain;
    height: 55rem;
}

.bigger {
    object-fit: contain;
    height: 65rem;
}

.line {
    height: 5rem;
    background-color: #C9B8C8;
}

.youtube {
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.video {
    display: flex;
    justify-content: center;
    height: 30rem;
    margin-top: 5rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    background-color:#C9B8C8;
    height: 8rem;
    width: 100%;
    font-size: 1.5rem;
}