html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 16px;
    font-family: 'Spartan', sans-serif;
    margin: 0;
}

.banner {
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}

h1 {
    font-family: 'Licorice', cursive;
    font-weight: 100;
    font-size: 20rem;
}

.navMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    background-color: #C9B8C8;
} 

.link {
    text-decoration: none;
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    color: black;
    padding: 3rem;
}

a:hover {
    text-decoration: underline;
    color: #704C52;
}

.content, .youtube {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 2rem;
    margin: 1rem;
}

.sidebar {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10rem;
    line-height: 4rem;
}

h2 {
    background-color: white;
    display: flex;
    justify-content: center;
}
.images {
   display: flex;
   justify-content: center;
   gap: .5rem;
}

.vertical {
    height: 50rem;
    width: 35rem;
    padding-top: 2rem;
    object-fit: cover;
}

.horizontal {
    height: 35rem;
    width: 50rem;
    padding-top: 2rem;
    object-fit: cover;
    margin-top: -1.5rem;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60rem;
    margin-top: 10rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    background-color:#C9B8C8;
    height: 8rem;
    width: 100%;
    font-size: 1.5rem;
}