
html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 16px;
    font-family: 'Spartan', sans-serif;
}

.banner {
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Licorice', cursive;
    font-weight: 100;
    font-size: 20rem;
}

.navMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
} 

.link {
    text-decoration: none;
    font-weight: 400;
    color: black;
    padding: 4rem;
}

a:hover {
    text-decoration: underline;
}

.fees {
    background-color: #C9B8C8;
    font-size: 3rem;
    border-radius: 50%;
    height: 20rem;
    width: 20rem;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-left: 64rem;
}

li {
    list-style-type: none;
    padding: 1rem;
    text-align: center;
}
.price {
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    font-size: 3rem;
}

.portrait {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h3, p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h3 {
    margin-bottom: 3rem;
}

.events {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

p {
    line-height: 3rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    background-color:#C9B8C8;
    height: 8rem;
    width: 100%;
    font-size: 1.5rem;
}

