html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 16px;
    font-family: 'Spartan', sans-serif;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner {
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Licorice', cursive;
    font-weight: 100;
    font-size: 20rem;
}

.navMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
} 

.link {
    text-decoration: none;
    font-weight: 400;
    color: black;
    padding: 4rem;
}

a:hover {
    text-decoration: underline;
}

.mainPhoto {
    background-color: #C9B8C8;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.personalPhoto {
    background-color:white;
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
}

.main {
    background-color: black;  
}

.photos {
    background-color: #C9B8C8;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.landscape {
    background-color: white;
    height: 40rem;
    width: 40rem;
}